.section-about {
    background-color: $color-grey-light-1;
    padding: 20rem 0 20rem;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-light, .8)), url(../img/nat-4.jpg);
    background-size: cover;
    margin-top: -10rem;

    transform: skewY(-7deg);
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    -o-transform: skewY(-7deg);

    &>* {
        transform: skewY(7deg);
        -webkit-transform: skewY(7deg);
        -moz-transform: skewY(7deg);
        -ms-transform: skewY(7deg);
        -o-transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 18rem 0 5rem;
    margin-top: -10rem;
}